<footer class="footer">
	<div class="container py-3">
		<div class="row justify-content-center align-middle">
			<span class="text-center footer-copyright", style="font-family: Manrope; font-size: 14px;">© 2021 Cajal Club. All rights reserved</span>
		</div>
	</div>
</footer>

<script>
	let d = new Date();
	$('#footerYear').text(d.getFullYear());
</script>
