<div id="divNav" class="navbar-fixed-top page-banner">
	<nav class="navbar navbar-expand-lg navbar-light shadow-sm p-7 mb-5 bg-white rounded rounded sticky" id="navbar">
		<a class="navbar-brand" href="#">
			<img src="https://cajalclub.org/wp-content/uploads/sites/9568/2019/08/logo-2-2.png" width="70%" height="65%" class="d-inline-block align-top" alt="">
		</a>
		<div id="navLeft" class="navbar-collapse collapse w-100 order-1 order-lg-0 dual-collapse2">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Events</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Membership</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/prizes">Prizes</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">News</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>
		</div>
		<!--
		<div class="mx-auto order-0 order-lg-1 flex-vert-center">
			<a id="mainLogo" class="navbar-brand mx-auto" href="/">Cajal Club</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2"
				aria-label="Expand Navigation Options">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div id="navRight" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Link 4</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Link 5</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Link 6</a>
				</li>
			</ul>
		</div>
		-->
	</nav>
</div>
