<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

	<body>
		<%- include('partials/nav') %>

		<div id="content">
			<div class="row w-100">
				<div class="col-4" style="padding-top: 20px; font-family: Manrope;">
					<div class="container pl-4">
						<h2 style="font-weight: bold; font-size: 30px;">Cajal Club</h2>
					</div>
					<div class="container pl-4 py-2">
						<span style="font-size: 14px;">
							The Cajal Club is the oldest Neuroscience Society in North America to meet annually. Its mission was initially to promote neuroanatomy research and discuss scientific data in a friendly atmosphere. The original covenant of the Cajal Club specified that one of its main aims was to revere Cajal because his neuroanatomical findings were inspirational to all of the Cajal Club members. Currently, the Cajal Club promotes friendly scientific discussions between neuroscientists through annual scientific and social agendas.
						</span>
					</div>
				</div>
				<div class="col-8" style="padding-right: 0px">
					<img src="/images/hero.png" class="w-100">
				</div>
			</div>
		</div>

		<script src="/scripts/index.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>
