<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

	<body>
		<%- include('partials/nav') %>

		<div id="content" class="container ">
			<div class="col-12 col-md text-center d-flex justify-content-center align-items-center">
				<h2 style="margin-top: 20px;">Cajal Club</h2>
			</div>
			
			<div class="col-12 col-md text-center d-flex flex-column justify-content-center align-items-center">
				<button class="button" type="button", href="/login", style="width: 200px;height: 50px;margin-bottom: 20px;margin-top: 20px;">
					<a class="nav-link" href="/login", style="color: white;text-align: center;">Login</a>
				</button>
			</div>
		</div>

		<script src="/scripts/index.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>
