<html lang="en">
<%- include('partials/header') %>

	<body>
		<%- include('partials/nav') %>

		<div id="content" class="container ">
			<div class="col-12 col-md text-center d-flex justify-content-center align-items-center">
				<h2 style="margin-top: 20px;margin-bottom: 20px;">Login</h2>
			</div>
		</div>

        <div class="col-12 col-md text-center d-flex flex-column justify-content-center align-items-center">
            <form id="login">
                <input type="text", placeholder="username">
                <br>
                <input type="text", placeholder="password">
                <br>
                <button class="button", type="submit", style="text-align:center; width: 200px; height: 50px; margin-bottom: 20px; margin-top: 20px;">Login</button>
            </form>
        </div>

		<script src="/scripts/login.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>
