<!DOCTYPE html>
<html lang="en">
<style>
.crop {
  width: 400px;
  height: 400px;
  overflow: hidden;
}
</style>

<%- include('partials/header') %>
	<body>
		<%- include('partials/nav') %>
		<div id="content" class="container">
			<div class="d-flex flex-row my-4 py-5">
				<div class="col-sm-12 text-center">
					<h1 class="mb-5" style="text-align:left;">Prizes</h1>
					<div class="row">
						<div class="col">
							<p class="mb-4" style="text-align:left;">
								The Cajal Club awards prizes in several categories. 
								The Krieg Cortical Kudos recognize outstanding scientists working on the cerebral cortex, at three levels: 
								the established investigator (Discoverer), the young professional who has received an advanced professional 
								degree within the ten year period prior to the time of nomination (Explorer), and the recent PhD graduate no 
								more than two years beyond obtaining their advanced degree (Scholar). In addition, the Cajal Club confers the 
								Krieg Lifetime Achievement Award to individuals who have exhibited leadership in promoting the field of neuroscience 
								or in supporting initiatives that have advanced neuroscience. The Cajal Club also recognizes important contributions 
								made by neuroscientists by inviting them to give a keynote address, the Pinckney J. Harman Memorial Lecture, at one our 
								scientific meetings. Finally, the Cowan and Palay Awards were established by the publisher of the Journal of Comparative 
								Neurology, Wiley-Blackwell, and are presented at the Cajal Club Social, held at the annual Society for Neuroscience meeting.
							</p>
						</div>
						<div class="col">
							<img src="https://cajalclub.org/wp-content/uploads/sites/9568/2020/02/krieg-award-866x615.png" class="card-img-top" alt="">
						</div>
					</div>

					<!-- https://cajalclub.org/wp-content/uploads/sites/9568/2020/02/krieg-award-866x615.png -->

					<br>
					<section id="awards" class="bg-light mt-5">
						<div class="container-lg">
							<div class="text-center">
								<h2>Awards</h2>
								<p class="lead text-muted"> Awards given to Cajal Club members</p>	
							</div>
						</div>
						<!--
						<div class="row my-5 align-items-center justify-content-center">
							<div class="col-4 col-lg-4 col-xl-3">
								<div class="card border-1" style="width: 25rem;">
									<img src="AWD-logo.png" class="card-img-top" alt="...">
									<div class="card-body" style="text-align: left;">
										<h4 class="card-title">Krieg Cortical Kudos</h4>
										<p class="card-text">The Kreig Cortical Kudos prizes are awarded annually. There are three levels of the KCK awards: Discoverer, Explorer, and Scholar.</p>
										<a href="#" class="btn btn-primary">View winners & details</a>
									</div>
								</div>
							</div>
							<div class="col-4 col-lg-4">
								<div class="card border-1" style="width: 25rem;">
									<img src="AWD-logo.png" class="card-img-top" alt="...">
									<div class="card-body" style="text-align: left;">
										<h4 class="card-title">Krieg Lifetime Achievement Award</h4>
										<p class="card-text">The Cajal Club has awarded individuals on special occasions who have exhibited leadership in promoting the field of neuroscience or in supporting initiatives that have advanced neuroscience with a Krieg Lifetime Achievement Award.</p>
										<a href="#" class="btn btn-primary">View winners & details</a>
									</div>
								</div>
							</div>	
						</div>
					    -->
						<div class="container">
							<div class="row">
							  	<div class="col">
									<div class="card">
										<img src="https://cajalclub.org/wp-content/uploads/sites/9568/2019/08/Kudos-1500x615.jpg" class="card-img-top" alt="">
										<div class="card-body" style="text-align: left;">
											<h4 class="card-title">Krieg Cortical Kudos</h4>
											<p class="card-text">The Kreig Cortical Kudos prizes are awarded annually. There are three levels of the KCK awards: Discoverer, Explorer, and Scholar.</p>
											<a href="#" class="link-primary">View winners & details</a>
										</div>
									</div>
									<br>
									<div class="card">
										<img src="https://cajalclub.org/wp-content/uploads/sites/9568/2020/01/Slides-1700x615.gif" class="card-img-top" alt="">
										<div class="card-body" style="text-align: left;">
											<h4 class="card-title">Pinckney J Harmon Memorial Lecture</h4>
											<p class="card-text">For 20 years, Pinckney J. Harman was the first Apical Dendrite of the Cajal Club. The Cajal Club used to have an annual banquet with a featured dinner speaker. The Pinckney J. Harman Memorial Lecturer was a continuation of this banquet speaker.</p>
											<a href="#" class="link-primary">View winners & details</a>
										</div>
									</div>
							  	</div>
							 	<div class="col">
									<div class="card">
										<img src="https://cajalclub.org/wp-content/uploads/sites/9568/2020/01/Slides-1700x615.gif" class="card-img-top" alt="">
										<div class="card-body" style="text-align: left;">
											<h4 class="card-title">Krieg Lifetime Achievement Award</h4>
											<p class="card-text">The Cajal Club has awarded individuals on special occasions who have exhibited leadership in promoting the field of neuroscience or in supporting initiatives that have advanced neuroscience with a Krieg Lifetime Achievement Award.</p>
											<a href="#" class="link-primary">View winners & details</a>
										</div>
									</div>
									<br>
									<div class="card">
										<img src="https://cajalclub.org/wp-content/uploads/sites/9568/2020/01/Hatten_Cowan-e1582304842166-1700x615.gif" class="card-img-top" alt="">
										<div class="card-body" style="text-align: left;">
											<h4 class="card-title">Cowan and Palay Awards</h4>
											<p class="card-text">The Cowan and Palay Awards were established by the publisher of the Journal of Comparative Neurology, Wiley-Blackwell in 2004 to honor two previous editors-in-chief of the journal, who had each contributed so much to neuroanatomy.</p>
											<a href="#" class="link-primary">View winners & details</a>
										</div>
									</div>
							  	</div>
							</div>
						</div>
					</section>

					<br>
					<br>

					<div class="mt-6" style="text-align:left;">
						<h3 class="">Krieg Cortical Kudos</h3>
						<p class="">
							The Kreig Cortical Kudos prizes are awarded annually.
							There are three levels of the KCK awards: Discoverer, Explorer, and Scholar.
						</p>
						<a href="">View winners & details</a>
					</div>

					<div class="mt-4" style="text-align:left;">
						<h3 class="">Krieg Lifetime Achievement Award</h3>
						<p class="">
							The Cajal Club has awarded individuals on special occasions who have exhibited leadership in promoting the field of neuroscience or in supporting initiatives that have advanced neuroscience with a Krieg Lifetime Achievement Award.
						</p>
						<a href="">View winners & details</a>
					</div>

					<div class="mt-4" style="text-align:left;">
						<h3 class="">Pinckney J Harmon Memorial Lecture</h3>
						<p class="">
							For 20 years, Pinckney J. Harman was the first Apical Dendrite of the Cajal Club. The Cajal Club used to have an annual banquet with a featured dinner speaker. The Pinckney J. Harman Memorial Lecturer was a continuation of this banquet speaker.
						</p>
						<a href="">View winners & details</a>
					</div>

					<div class="mt-4" style="text-align:left;">
						<h3 class="">Cowan and Palay Awards</h3>
						<p class="">
							The Cowan and Palay Awards were established by the publisher of the Journal of Comparative Neurology, Wiley-Blackwell in 2004 to honor two previous editors-in-chief of the journal, who had each contributed so much to neuroanatomy.
						</p>
						<a href="">View winners & details</a>
					</div>

					<!--
					<div class="card">
						<img src="" class="card-img-top" alt="">
						<div class="card-body" style="text-align: left;">
							<h4 class="card-title">Krieg Cortical Kudos</h4>
							<p class="card-text">The Kreig Cortical Kudos prizes are awarded annually. There are three levels of the KCK awards: Discoverer, Explorer, and Scholar.</p>
							<a href="#" class="btn btn-primary">View winners & details</a>
						</div>
					</div>

					<div class="card">
						<img src="" class="card-img-top" alt="">
						<div class="card-body" style="text-align: left;">
							<h4 class="card-title">Pinckney J Harmon Memorial Lecture</h4>
							<p class="card-text">For 20 years, Pinckney J. Harman was the first Apical Dendrite of the Cajal Club. The Cajal Club used to have an annual banquet with a featured dinner speaker. The Pinckney J. Harman Memorial Lecturer was a continuation of this banquet speaker.</p>
							<a href="#" class="btn btn-primary">View winners & details</a>
						</div>
					</div>
					
					<div class="card">
						<img src="" class="card-img-top" alt="">
						<div class="card-body" style="text-align: left;">
							<h4 class="card-title">Pinckney J Harmon Memorial Lecture</h4>
							<p class="card-text">For 20 years, Pinckney J. Harman was the first Apical Dendrite of the Cajal Club. The Cajal Club used to have an annual banquet with a featured dinner speaker. The Pinckney J. Harman Memorial Lecturer was a continuation of this banquet speaker.</p>
							<a href="#" class="btn btn-primary">View winners & details</a>
						</div>
					</div>
					
					<div class="card">
						<img src="" class="card-img-top" alt="">
						<div class="card-body" style="text-align: left;">
							<h4 class="card-title">Cowan and Palay Awards</h4>
							<p class="card-text">The Cowan and Palay Awards were established by the publisher of the Journal of Comparative Neurology, Wiley-Blackwell in 2004 to honor two previous editors-in-chief of the journal, who had each contributed so much to neuroanatomy.</p>
							<a href="#" class="btn btn-primary">View winners & details</a>
						</div>
					</div>
					-->
				</div>
			</div>
		</div>

		<script src="/scripts/template.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>
