<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

	<body>
		<%- include('partials/nav') %>

		<div id="content" class="container-fluid">
			<div class="d-flex flex-row pt-4 my-4">
				<div class="col-3 text-center align-middle">
					<span class="" style="font-family: Manrope; font-weight: 900; font-size: 44px; color: #474A57;">
                        Prizes
                    </span>
				</div>
			</div>
            <div class="d-flex flex-row row ml-2">
				<div class="text-center col-12 col-md-7 my-4">
					<h2 class="" style="font-family: Manrope; font-size: calc(60% + 0.5vw + 0.5vh); line-height: 187%; color: black">
                        The Cajal Club awards prizes in several categories. The Krieg Cortical Kudos recognize outstanding scientists working on the cerebral cortex, at three levels: the established investigator (Discoverer), the young professional who has received an advanced professional degree within the ten year period prior to the time of nomination (Explorer), and the recent PhD graduate no more than two years beyond obtaining their advanced degree (Scholar). In addition, the Cajal Club confers the Krieg Lifetime Achievement Award to individuals who have exhibited leadership in promoting the field of neuroscience or in supporting initiatives that have advanced neuroscience. The Cajal Club also recognizes important contributions made by neuroscientists by inviting them to give a keynote address, the Pinckney J. Harman Memorial Lecture, at one our scientific meetings. Finally, the Cowan and Palay Awards were established by the publisher of the Journal of Comparative Neurology, Wiley-Blackwell, and are presented at the Cajal Club Social, held at the annual Society for Neuroscience meeting.
                    </h2>
				</div>
                <div class="col-12 col-md-5 my-4">
					<img class="w-100" src="/images/prizes1.png">
				</div>
			</div>

            <div class="d-flex flex-row row ml-2">
				<div class="col-12 col-md-6 my-4 py-4">
					<div class="row my-1">
                        <div class="col-8 col-sm-6 col-md-8 col-lg-6 ml-auto mr-4">
                            <img class="w-100" src="/images/prizes2.png">
                        </div>
                    </div>
                    <h3 class="my-4" style="font-family: Manrope; font-weight: 800; font-size: calc(150% + 0.5vw + 0.5vh); color: #18191F;">
                        Krieg Cortical Kudos
                    </h3>
                    <h2 class="" style="font-family: Manrope; font-size: calc(50% + 0.5vw + 0.5vh); color: #18191F;">
                        The Kreig Cortical Kudos prizes are awarded annually. There are three levels of the KCK awards: Discoverer, Explorer, and Scholar. 
                    </h2>
                    <h2 class="pt-4" style="font-family: Manrope; font-weight: 700; font-size: calc(70% + 0.5vw + 0.5vh); color: #8C30F5;">
                        <a href="/prizes/krieg-cortical-kudos-awards" style="text-decoration: none;">
                            View winners & details
                        </a>
                        <img src="/images/arrow.png">
                    </h2>
				</div>
                <div class="col-12 col-md-6">
					<div class="row my-1 my-4 py-4">
                        <div class="col-8 col-sm-6 col-md-8 col-lg-6 ml-auto mr-4">
                            <img class="w-100" src="/images/prizes2.png">
                        </div>
                    </div>
                    <h3 class="my-4" style="font-family: Manrope; font-weight: 800; font-size: calc(150% + 0.5vw + 0.5vh); color: #18191F;">
                        Krieg Lifetime Achievement Award
                    </h3>
                    <h2 class="" style="font-family: Manrope; font-size: calc(50% + 0.5vw + 0.5vh); color: #18191F;">
                        The Cajal Club has awarded individuals on special occasions who have exhibited leadership in promoting the field of neuroscience or in supporting initiatives that have advanced neuroscience with a Krieg Lifetime Achievement Award
                    </h2>
                    <h2 class="pt-4" style="font-family: Manrope; font-weight: 700; font-size: calc(70% + 0.5vw + 0.5vh); color: #8C30F5;">
                        <a href="/prizes/krieg-lifetime-achievement-awardees" style="text-decoration: none;">
                            View winners & details
                        </a>
                        <img src="/images/arrow.png">
                    </h2>
				</div>
			</div>
            <div class="d-flex flex-row row ml-2">
				<div class="col-12 col-md-6 my-4 py-4">
					<div class="row my-1">
                        <div class="col-8 col-sm-6 col-md-8 col-lg-6 ml-auto mr-4">
                            <img class="w-100" src="/images/prizes2.png">
                        </div>
                    </div>
                    <h3 class="my-4" style="font-family: Manrope; font-weight: 800; font-size: calc(150% + 0.5vw + 0.5vh); color: #18191F;">
                        Pinckney J Harmon Memorial Lecture
                    </h3>
                    <h2 class="" style="font-family: Manrope; font-size: calc(50% + 0.5vw + 0.5vh); color: #18191F;">
                        For 20 years, Pinckney J. Harman was the first Apical Dendrite of the Cajal Club. The Cajal Club used to have an annual banquet with a featured dinner speaker. The Pinckney J. Harman Memorial Lecturer was a continuation of this banquet speaker.
                    </h2>
                    <h2 class="pt-4" style="font-family: Manrope; font-weight: 700; font-size: calc(70% + 0.5vw + 0.5vh); color: #8C30F5;">
                        <a href="/prizes/pinckney-j-harman-memorial-lectures" style="text-decoration: none;">
                            View winners & details
                        </a>
                        <img src="/images/arrow.png">
                    </h2>
				</div>
                <div class="col-12 col-md-6 my-4 py-4">
					<div class="row my-1">
                        <div class="col-8 col-sm-6 col-md-8 col-lg-6 ml-auto mr-4">
                            <img class="w-100" src="/images/prizes2.png">
                        </div>
                    </div>
                    <h3 class="my-4" style="font-family: Manrope; font-weight: 800; font-size: calc(150% + 0.5vw + 0.5vh); color: #18191F;">
                        Cowan and Palay Awards
                    </h3>
                    <h2 class="" style="font-family: Manrope; font-size: calc(50% + 0.5vw + 0.5vh); color: #18191F;">
                        The Cowan and Palay Awards were established by the publisher of the Journal of Comparative Neurology, Wiley-Blackwell in 2004 to honor two previous editors-in-chief of the journal, who had each contributed so much to neuroanatomy. 
                    </h2>
                    <h2 class="pt-4" style="font-family: Manrope; font-weight: 700; font-size: calc(70% + 0.5vw + 0.5vh); color: #8C30F5;">
                        <a href="/prizes/cowan-and-palay-awards" style="text-decoration: none;">
                            View winners & details
                        </a>
                        <img src="/images/arrow.png">
                    </h2>
				</div>
			</div>
		</div>

		<script src="/scripts/prizes.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>